@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 36, 39, 66;
  --background-end-rgb: 36, 39, 66;
}

@media (prefers-color-scheme: rgb(36, 39, 66)) {
  :root {
    --foreground-rgb: 36, 39, 66;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon-list {
  list-style: none; /* Remove default bullet points */
  padding-left: 0;  /* Optional: remove padding */
}

.icon-list li {
  position: relative;
  padding-left: 35px; /* Adjust this value to space the icon and text */
  margin-top: 10px;
}

.icon-list li::before {
  content: url('../public/images/icon-list.svg'); /* Path to your icon image */
  position: absolute;
  left: 0;
  top: 0;
  width: 16px; /* Adjust as needed */
  height: 16px; /* Adjust as needed */
}
